:root {
    --primary: #11071F;
    --white: #FFFFFF;
    --purple: #1A0B2E;
    --neutral-purple: #B292FF;
}

 
body {
    background-color: var(--purple);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 50px auto;
}

.section {
    margin: 60px;
}

.navmenu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

}

.navmenu ul a {
    font-family: 'roboto', sans-serif;
    font-size: var(--primary-size);
    background-color: var(--primary);
    text-decoration: none;
    padding: 5px 10px;
    color: var(--white);

}

.navmenu ul li {
    border: 2px solid var(--secondary-color);
    border-radius: 20%;
}

.mainwrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.mainwrapper .logo{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    display: block;
}


.imgcontent img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    display: block;
}

.textcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    font-family: 'roboto', sans-serif;
    font-size: var(--primary-size);
}

.textcontent span {
    color: var(--neutral-purple);
    font-size: 20px;
    font-weight: 600;

}

.textcontent h1 {
    font-size: 30px;
    font-weight: 1000;
    color: var(--neutral-purple);
    margin: 0;
       font-family: 'roboto', sans-serif;

}

.textcontent p {
    font-size: var(--medium-size);
    color: var(--white);
    max-width: 400px;
        font-family: 'roboto', sans-serif;

}

.intoductionwrapper {
    border: 5px solid black;
    padding: 30px;

}

.intoductionwrapper img {
    margin-right: 10px;
}

.intoductionwrapper span {
    color: var(--white);
    font-size: 20px;


}

.intoductionwrapper H2 {
    font-size: 22px;
    color: var(--neutral-purple);
}

.border {
    border: 5px solid black;
    padding: 30px;
}

.skillwrapper h2 {
    margin: 0;
    font-size: 22px;
    color: var(--neutral-purple);
}

.skillwrapper p {
    color: var(--white);
    font-size: 20px;

}

.skillwrapper img {
    padding-block: 5px;
    padding-inline: 20px;

}

.bordertext {
    color: var(--white);
    font-size: 20px;
}



.educationwrapper h2 {
    margin: 0;
    font-size: 22px;
    color: var(--neutral-purple);
}

.educationwrapper {
     padding: 30px;
}
 
.examplewrapper h2 {
    font-size: 22px;
    color: var(--neutral-purple);
}

.examplewrapper span {
    font-size: 20px;
    color: white;
}
.examplewrapper pre {
    white-space: pre-wrap;     
    word-break: break-word;     
    overflow-x: auto;          
    padding: 10px;             
 
}


.projectwrapper h2, 
.projectwrapper li {
    font-size: 22px;
    color: var(--neutral-purple);
}

.projectwrapper p {
    font-size: 15px;
    color: var(--white);
    font-family: 'roboto', sans-serif;
}

 
.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot a {
    color: var(--neutral-purple);

}

.foot h2 {
    color: var(--neutral-purple);
    font-size: 20px;
}
.foot span{
    color: rgb(128, 0, 96);
        font-family: 'roboto', sans-serif;

} 

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.logos a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

@media (max-width: 768px) {
    .mainwrapper {
        flex-direction: column;
       width: 90%;              
        margin: 0 auto;          
        gap: 20px;
        align-items: center;   
    }

    .textcontent {
        max-width: 90%;
        text-align: center;
    }

    .navmenu ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .foot {
          
    display: flex;
     flex-direction: column;
        align-items: center;
    }
    .footer {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    
}

}
@media (max-width: 375px) {
  
  .container {
    width: 95%;
    margin: 20px auto;
  }

 
  .navmenu ul {
    flex-direction: column; 
    gap: 10px;              
    align-items: center;    
    padding: 0;
  }

  .navmenu ul li {
    width: 100%;            
    text-align: center;
  }

  .mainwrapper {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
  }

  .imgcontent img {
    max-width: 180px;     
  }

  .textcontent {
    max-width: 90%;
    text-align: center;
    font-size: 16px;       
  }
 .footer span {
    overflow-wrap: break-word;
    word-break: break-word;
}
}

.footer{
    display: flex;
    gap: 40px;
    justify-content: center;
 
 }
 .footer span{
    color: white;
        font-family: 'roboto', sans-serif;
        font-size: 20px;
 }
.footer img{
    width: 100px;
}